* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 1rem;
	background: rgb(75, 75, 75);
	background: linear-gradient(90deg, rgba(75, 75, 75, 0.7987570028011204) 60%, rgba(130, 130, 130, 0.7063200280112045) 100%);
}

#logo {
	width: 8rem;
    height: 5.5rem;
    margin-left: 1rem;
}