<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Accounts</title>
  <link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="./css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body class="container" id="app">
  <div class="d-flex justify-content-around flex-column flex-md-row">
    <img src="./assets/logo.png" alt="logo" id="logo">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid" id="div-nav">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="./manager.html">Manager</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Accounts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./cards.html">Cards</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./transfers.html">Transfers</a>
            </li>
            <li>
              <button type="button" class="btn btn-danger" @click="signout()">Sign Out</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <header>
    <h1 class="text-center">My Accounts</h1>
  </header>
  <div class="mb-5">
    <h2>Client: </h2>
    <p>ID: {{client.id}}</p>
    <p>Name: {{client.firstName}}</p>
    <p>Last name: {{client.lastName}}</p>
    <p>Email: {{client.email}}</p>

    <h2 class="pt-5">Accounts List</h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="col-1">ID</th>
            <th scope="col" class="col-3">Number</th>
            <th scope="col" class="col-3">Creation Time</th>
            <th scope="col" class="col-3">Balance</th>
            <th scope="col" class="col-3">Transactions</th>
          </tr>
        </thead>
        <tbody id="">
          <tr v-for="account in client.accountsDTO">
            <td>{{account.id}}</td>
            <td>{{account.number}}</td>
            <td>{{account.creationTime}}</td>
            <td>$ {{account.balance}}</td>
            <td>
              <a :href="'./account.html?id=' + account.id" class="text-white text-decoration-none">
                <button type="submit" class="btn btn-primary">
                  See transactions
                </button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <template v-if="client.accountsDTO.length < 3">
      <button type="button" class="btn btn-primary" @click="createAccount">Create a New Account</button>
    </template>

    <template v-if="client.loans">
      <h2 class="pt-5">Loans List</h2>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="col-4">Name</th>
              <th scope="col" class="col-4">Amount</th>
              <th scope="col" class="col-4">Payment</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="loan in client.loans">
              <td>{{loan.name}}</td>
              <td>$ {{loan.amount}}</td>
              <td>{{loan.payment}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </template>
    <div v-else="">
      <p>There are no loans requested</p>
    </div>

    <a href="./loan-application.html" class="text-white text-decoration-none">
      <button type="submit" class="btn btn-primary mb-5">
        Apply for a Loan
      </button>
    </a>
  </div>

  <footer class="d-flex justify-content-around mt-5">
    <div class="fw-bold fs-5">MindHub Brothers</div>
    <div class="fw-bold fs-5">&copy; Matias - 2022</div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="./js/accounts.js"></script>
</body>

</html>