<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body class="container" id="app">
    <div class="d-flex justify-content-start">
        <img src="./assets/logo.png" alt="logo" id="logo">
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-1">
            <h2 class="heading-section">Login</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="login-wrap p-0">
                <form action="#" class="signin-form">
                    <div class="form-group mb-3">
                        <input type="text" class="form-control" placeholder="Username" required v-model="emailLogin">
                    </div>
                    <div class="form-group mb-3">
                        <input id="password-field" type="password" class="form-control" placeholder="Password" required
                            v-model="passwordLogin">
                    </div>
                    <div class="form-group mb-3">
                        <button type="submit" class="form-control btn btn-primary submit px-3" @click.prevent="login()">
                            Sign In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-1">
            <h2 class="heading-section">Register</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="login-wrap p-0">
                <form class="signin-form">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Name" v-model="firstName" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Last Name" v-model="lastName" required>
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Email" aria-describedby="emailHelp"
                            v-model="email" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" placeholder="Password" v-model="password" required>
                    </div>
                    <button type="submit" class="form-control btn btn-primary submit px-3"
                        @click.prevent="register()">Create Client</button>
                </form>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
        </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./js/index.js"></script>
</body>

</html>