<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body class="container" id="app">
    <div class="d-flex justify-content-start">
        <img src="./assets/logo.png" alt="logo" id="logo">
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-1 mt-3">
            <h1 class="heading-section txt-shadow">Welcome to our Bank</h1>
        </div>
    </div>


    <div class="row justify-content-around mt-5" id="main-section">

        <div id="carouselExampleSlidesOnly" class="carousel slide col-lg-4 mb-3" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/bank1.webp" class="d-block w-100 car_img" alt="bank">
                </div>
                <div class="carousel-item">
                    <img src="./assets/bank2.webp" class="d-block w-100 car_img" alt="bank">
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <h2 class="text-center txt-shadow">Login</h2>
            <div class="login-wrap p-0">
                <form action="#" class="signin-form mt-4">
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" placeholder="Username" required v-model="emailLogin">
                    </div>
                    <div class="form-group mt-4">
                        <input id="password-field" type="password" class="form-control" placeholder="Password" required
                            v-model="passwordLogin">
                    </div>
                    <div class="form-group mt-4">
                        <button type="submit" class="form-control btn submit px-3 btn-secondary"
                            @click.prevent="login()">
                            Sign In</button>
                    </div>
                </form>

                <!-- Button trigger modal -->
                <div class="form-group mt-4 mb-4">
                    <button type="button" class="form-control btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        Don't have an account yet? Sign Up
                    </button>
                </div>
            </div>
        </div>

        <div id="carouselExampleSlidesOnly" class="carousel slide col-lg-4" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/bank3.jpeg" class="d-block w-100 car_img" alt="bank">
                </div>
                <div class="carousel-item">
                    <img src="./assets/bank4.jpg" class="d-block w-100 car_img" alt="bank">
                </div>
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Register</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center">
                        <form class="signin-form">
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="First Name" v-model="firstName"
                                    required>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Last Name" v-model="lastName"
                                    required>
                            </div>
                            <div class="mb-3">
                                <input type="email" class="form-control" placeholder="Email"
                                    aria-describedby="emailHelp" v-model="email" required>
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" placeholder="Password" v-model="password"
                                    required>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" @click.prevent="register()">Create Client</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="d-flex justify-content-around">
            <div class="fw-bold fs-5">MindHub Brothers</div>
            <div class="fw-bold fs-5">&copy; Matias - 2022</div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
        </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./js/index.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>