<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply for a Loan</title>
    <link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body class="container" id="app">
    <div class="d-flex justify-content-around flex-column flex-md-row">
        <img src="./assets/logo.png" alt="logo" id="logo">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid" id="div-nav">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="./manager.html">Manager</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./accounts.html">Accounts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./cards.html">Cards</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./transfers.html">Transfers</a>
                        </li>
                        <li>
                            <button type="button" class="btn btn-danger" @click="signout()">Sign Out</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <header class="mt-5">
        <h1 class="text-center txt-shadow">Apply for a Loan</h1>
    </header>

    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <form class="mb-5">
                <h4 class="txt-shadow mt-3">
                    Choose the Loan
                </h4>
                <select class="form-select mb-3" aria-label="Default select example" v-model="loanSelected">
                    <template v-for="loan in loans">
                        <option>{{loan.name}}</option>
                    </template>
                </select>
                <label class="p-2 mb-2 txt-shadow-2">Maximum loan amount: {{maxAmount[0]}}</label>

                <h4 class="txt-shadow">Loan amount</h4>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="amount" aria-describedby="basic-addon3"
                        v-model="amountSelected">
                </div>

                <h4 class="txt-shadow">
                    Choose the payments
                </h4>
                <select class="form-select mb-3" aria-label="Default select example" v-model="paymentSelected">
                    <template v-for="payment in payments[0]">
                        <option>{{payment}}</option>
                    </template>
                </select>

                <label class="p-2 mb-2 txt-shadow-2">Payment amount: {{paymentAmount}}</label>
                {{validateAmount}}
                {{filterLoans}}

                <div>
                    <h4 class="txt-shadow">Choose destination account</h4>
                    <select class="form-select mb-3" aria-label="Default select example" v-model="accountDestination">
                        <template v-for="account in accounts">
                            <option>{{account.number}}</option>
                        </template>
                    </select>
                </div>

                <button type="submit" class="btn btn-secondary" @click.prevent="apply()">Apply</button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
        </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./js/loan-application.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>