<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payments</title>
    <link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body class="container" id="app">
    <div class="d-flex justify-content-around flex-column flex-md-row">
        <img src="./assets/logo.png" alt="logo" id="logo">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid" id="div-nav">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="./accounts.html">Accounts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./cards.html">Cards</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./transfers.html">Transfers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Payments</a>
                        </li>
                        <li>
                            <button type="button" class="btn btn-danger" @click="signout()">Sign Out</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <header class="mt-5">
        <h1 class="heading-section text-center txt-shadow">Make your payment</h1>
    </header>

    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <form class="mb-5">

                <div class="mb-3">
                    <label for="txt1" class="form-label txt-shadow-2">Card number</label><br>
                    <input type="text" id="txt1" v-model="number">
                </div>
                <div class="mb-3">
                    <label for="txt2" class="form-label txt-shadow-2">Card holder</label><br>
                    <input type="text" id="txt2" v-model="holder">
                </div>
                <div class="mb-3">
                    <label for="txt4" class="form-label txt-shadow-2">CVV</label><br>
                    <input type="text" id="txt4" v-model="cvv">
                </div>
                <div class="mb-3">
                    <label for="txt5" class="form-label txt-shadow-2">Amount</label><br>
                    <input type="text" id="txt5" v-model="amount">
                </div>
                <div class="mb-3">
                    <label for="txt6" class="form-label txt-shadow-2">Destination account</label><br>
                    <input type="text" id="txt6" v-model="accountDestination">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label txt-shadow-2">Description</label><br>
                    <textarea class="form-control" id="description" aria-label="With textarea"
                        v-model="description"></textarea>
                </div>

                <button type="submit" class="btn btn-secondary" @click.prevent="pay()">Pay</button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
        </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./js/payments.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>